.box-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto; /* canh giữa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#frmaddsp {
    text-align: left; /* canh trái nội dung form */
}

h2 {
    color: black;
    text-align: center;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}
